@import "tailwindcss";

:root {
  --background: #F7EBDD;
  --foreground: #3A2418;
  --brand-tan: #C68B59;
}

@theme inline {
  --color-background: #F7EBDD;
  --color-foreground: #3A2418;
  --color-brand-tan: #C68B59;
  --color-brand-brown: #3A2418;
  --color-brand-cream: #F7EBDD;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lora);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
